body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.logo {
    width: 200px;
    height: 100px;
}

.navbar-toggler-icon {
    filter: invert(100%) brightness(200%);
}



.mainContainer {
    width: 80%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.table {
    width: 70%;

}



@media screen and (max-width: 650px) {
    .contentWrapper {
        flex-direction: column;
    }

    .table {
        width: 100%
    }

    .action-row {
        display: none;
    }

    .mobile-action-row {
        display: table-row;
    }

    .mobile-action-cell {
        display: table-cell;
    }

    .mobile-action-container {
        display: flex;
        justify-content: space-between;
    }

    .edit-cell {
        display: table-cell !important;
    }
}

@media (min-width: 651px) {
    .mobile-action-row {
        display: none;
    }
}